<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>備品編集画面</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{/tools/edit}" th:object="${toolForm}" method="post">
        <h2>備品編集</h2>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <td>管理コード:</td>
                <td>
                    <select th:field="*{managementcode}" class="form-control">
                        <option value="">選択してください</option>
                        <option value="マウス" th:selected="${toolForm.managementcode == 'マウス'}">マウス</option>
                        <option value="キーボード" th:selected="${toolForm.managementcode == 'キーボード'}">キーボード</option>
                        <option value="モニター" th:selected="${toolForm.managementcode == 'モニター'}">モニター</option>
                        <option value="プリンター" th:selected="${toolForm.managementcode == 'プリンター'}">プリンター</option>
                        <option value="スキャナー" th:selected="${toolForm.managementcode == 'スキャナー'}">スキャナー</option>
                        <option value="サーバー" th:selected="${toolForm.managementcode == 'サーバー'}">サーバー</option>
                        <option value="外付けハードドライブ" th:selected="${toolForm.managementcode == '外付けハードドライブ'}">外付けハードドライブ</option>
                        <option value="USBハブ" th:selected="${toolForm.managementcode == 'USBハブ'}">USBハブ</option>
                        <option value="webカメラ" th:selected="${toolForm.managementcode == 'webカメラ'}">webカメラ</option>
                        <option value="ヘッドセット" th:selected="${toolForm.managementcode == 'ヘッドセット'}">ヘッドセット</option>
                        <option value="ドッキングステーション" th:selected="${toolForm.managementcode == 'ドッキングステーション'}">ドッキングステーション</option>
                        <option value="リーダー/ライター" th:selected="${toolForm.managementcode == 'リーダー/ライター'}">リーダー/ライター</option>
                        <option value="電源タップ" th:selected="${toolForm.managementcode == '電源タップ'}">電源タップ</option>
                        <option value="モニターアーム" th:selected="${toolForm.managementcode == 'モニターアーム'}">モニターアーム</option>
                        <option value="マウスパッド" th:selected="${toolForm.managementcode == 'マウスパッド'}">マウスパッド</option>
                        <option value="ケーブル管理ツール" th:selected="${toolForm.managementcode == 'ケーブル管理ツール'}">ケーブル管理ツール</option>
                        <option value="ソフトウェアⅠ" th:selected="${toolForm.managementcode == 'ソフトウェアⅠ'}">ソフトウェアⅠ</option>
                        <option value="ソフトウェアⅡ" th:selected="${toolForm.managementcode == 'ソフトウェアⅡ'}">ソフトウェアⅡ</option>
                    </select>
                    <span th:if="${#fields.hasErrors('managementcode')}" th:errors="*{managementcode}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>管理番号:</td>
                <td>
                    <input type="text" th:field="*{managementNo}" class="form-control" />
                    <span th:if="${#fields.hasErrors('managementNo')}" th:errors="*{managementNo}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>品名:</td>
                <td>
                    <input type="text" th:field="*{productName}" class="form-control" />
                    <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>型番:</td>
                <td>
                    <input type="text" th:field="*{modelNumber}" class="form-control" />
                    <span th:if="${#fields.hasErrors('modelNumber')}" th:errors="*{modelNumber}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>メーカー:</td>
                <td>
                    <input type="text" th:field="*{maker}" class="form-control" />
                    <span th:if="${#fields.hasErrors('maker')}" th:errors="*{maker}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>購入日:</td>
                <td>
                    <input type="date" th:field="*{purchaseDate}" class="form-control" />
                    <span th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>耐用年数:</td>
                <td>
                    <select th:field="*{serviceLife}" class="form-control">
                        <option value="">機器の種類を選択してください</option>
                        <option value="PC4年" th:selected="${toolForm.serviceLife == PC4年}">PC</option>
                        <option value="PC以外5年" th:selected="${toolForm.serviceLife == PC以外5年}">PC以外の電子計算機</option>
                        <option value="レジスター3年" th:selected="${toolForm.serviceLife == レジスター3年}">レジスター</option>
                        <option value="プリンター等5年" th:selected="${toolForm.serviceLife == プリンター等5年}">プリンター、ファクシミリ</option>
                        <option value="ソフトウェア3年" th:selected="${toolForm.serviceLife == ソフトウェア3年}">ソフトウェア（3年）</option>
                        <option value="ソフトウェア5年" th:selected="${toolForm.serviceLife == ソフトウェア5年}">ソフトウェア（5年）</option>
                    </select>
                    <span th:if="${#fields.hasErrors('serviceLife')}" th:errors="*{serviceLife}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>使用不可:</td>
                <td>
                    <label><input type="radio" th:field="*{usageProhibited}" value="true" /> 可能</label>
                    <label><input type="radio" th:field="*{usageProhibited}" value="false" /> 不可</label>
                    <span th:if="${#fields.hasErrors('usageProhibited')}" th:errors="*{usageProhibited}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>貸出状況:</td>
                <td>
                    <label><input type="radio" th:field="*{availableForRent}" value="true" /> 可能</label>
                    <label><input type="radio" th:field="*{availableForRent}" value="false" /> 不可</label>
                    <span th:if="${#fields.hasErrors('availableForRent')}" th:errors="*{availableForRent}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>設置場所:</td>
                <td>
                    <label><input type="radio" th:field="*{installationLocation}" value="本社" /> 本社</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="仙台" /> 仙台</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="埼玉" /> 埼玉</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="新潟" /> 新潟</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="大阪" /> 大阪</label>
                    <span th:if="${#fields.hasErrors('installationLocation')}" th:errors="*{installationLocation}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>貸出期限:</td>
                <td>
                    <input type="date" th:field="*{expirationDate}" class="form-control" />
                    <span th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>仕様:</td>
                <td>
                    <input type="text" th:field="*{specification}" class="form-control" />
                    <span th:if="${#fields.hasErrors('specification')}" th:errors="*{specification}" class="error-messages">error!</span>
                </td>
            </tr>
        </table>
        <input type="hidden" name="id" th:value="${toolForm.id}" />
        <input type="hidden" name="goToTop2" value="戻る" />
        <button type="submit" class="btn btn-default">戻る</button>
        <button type="submit" value="更新"class="btn btn-primary">更新</button>
    </form>
</body>
</html>
