<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>備品編集画面</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{/tools/edit}" th:object="${toolForm}" method="post">
        <table class="table table-striped talbe-bordered table-condensed">
            <h2>備品編集</h2>
            <tr>
                <td>管理コード:</td>
                <td>
                    <select th:field="*{managementcode}" class="form-control">
                        <option value="">選択してください</option>
                        <option value="マウス">マウス</option>
                        <option value="キーボード">キーボード</option>
                        <option value="モニター">モニター</option>
                        <option value="プリンター">プリンター</option>
                        <option value="スキャナー">スキャナー</option>
                        <option value="サーバー">サーバー</option>
                        <option value="外付けハードドライブ">外付けハードドライブ</option>
                        <option value="USBハブ">USBハブ</option>
                        <option value="webカメラ">webカメラ</option>
                        <option value="ヘッドセット">ヘッドセット</option>
                        <option value="ドッキングステーション">ドッキングステーション</option>
                        <option value="リーダー/ライター">リーダー/ライター</option>
                        <option value="電源タップ">電源タップ</option>
                        <option value="モニターアーム">モニターアーム</option>
                        <option value="マウスパッド">マウスパッド</option>
                        <option value="ケーブル管理ツール">ケーブル管理ツール</option>
                        <option value="ソフトウェアⅠ">ソフトウェアⅠ</option>
                        <option value="ソフトウェアⅡ">ソフトウェアⅡ</option>
                    </select>
                <span th:if="${#fields.hasErrors('managementcode')}" th:errors="*{managementcode}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>管理番号:</td>
                <td>
                    <input type="text" name="managementNo" th:field="*{managementNo}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('managementNo')}" th:errors="*{managementNo}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>品名:</td>
                <td>
                    <input type="text" name="productName" th:field="*{productName}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>型番:</td>
                <td>
                    <input type="text" name="modelNumber" th:field="*{modelNumber}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('modelNumber')}" th:errors="*{modelNumber}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>メーカー:</td>
                <td>
                    <input type="text" name="maker" th:field="*{maker}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('maker')}" th:errors="*{maker}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>購入日:</td>
                <td>
                    <input type="date" name="purchaseDate" th:field="*{purchaseDate}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>耐用年数:</td>
                <td>
                    <select name="serviceLife" th:field="*{serviceLife}" th:errorclass="error-input">
                        <option value="">機器の種類を選択してください</option> <!-- 初期の選択肢 -->
                        <option value="4">PC</option> <!-- 耐用年数の候補1 -->
                        <option value="5">PC以外の電子計算機</option> <!-- 耐用年数の候補2 -->
                        <option value="3">レジスター</option> <!-- 耐用年数の候補3 -->
                        <option value="5">プリンター、ファクシミリ</option> <!-- 管理番号の候補4 -->
                        <option value="3">ソフトウェア（3年）</option> <!-- 耐用年数の候補5 -->
                        <option value="5">ソフトウェア（5年）</option> <!-- 耐用年数の候補6 -->
                    </select>
                    <span th:if="${#fields.hasErrors('serviceLife')}" th:errors="*{serviceLife}" class="error-messages">error!</span>
                </td>
            </tr>
            <!--<tr>
                <td>減価償却:</td>
                <td>
                    <input type="text" name="depreciation" th:field="*{depreciation}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('depreciation')}" th:errors="*{depreciation}" class="error-messages">error!</span>
                </td>
            </tr>-->
            <tr>
                <td>使用不可:</td>
                <td>
                    <label><input type="radio" name="usageProhibited" th:field="*{usageProhibited}" th:errorclass="error-input" /> 不可</label>
                    <label><input type="radio" name="usageProhibited" th:field="*{usageProhibited}" th:errorclass="error-input" /> 可能</label>
                    <span th:if="${#fields.hasErrors('usageProhibited')}" th:errors="*{usageProhibited}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>貸出状況:</td>
                <td>
                    <label><input type="radio" name="availableForRent" th:field="*{availableForRent}" th:errorclass="error-input" />不可</label>
                    <label><input type="radio" name="availableForRent" th:field="*{availableForRent}" th:errorclass="error-input" />可能</label>
                    <span th:if="${#fields.hasErrors('availableForRent')}" th:errors="*{availableForRent}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>設置場所:</td>
                <td>
                    <label><input type="radio" th:field="*{installationLocation}" value="本社" /> 本社</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="仙台" /> 仙台</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="埼玉" /> 埼玉</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="新潟" /> 新潟</label>
                    <label><input type="radio" th:field="*{installationLocation}" value="大阪" /> 大阪</label>
                    <span th:if="${#fields.hasErrors('installationLocation')}" th:errors="*{installationLocation}" class="error-messages">error!</span>
                </td>
                
            </tr>
            <tr>
                <td>貸出期限:</td>
                <td>
                    <input type="date" name="expirationDate" th:field="*{expirationDate}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}" class="error-messages">error!</span>
                </td>
            </tr>
            <tr>
                <td>仕様:</td>
                <td>
                    <input type="text" name="specification" th:field="*{specification}" th:errorclass="error-input" />
                    <span th:if="${#fields.hasErrors('specification')}" th:errors="*{specification}" class="error-messages">error!</span>
                </td>
            </tr>
        </table>
        <input type="hidden" name="id" th:value="${param.id[0]}" />
        <input type="submit" name="goToTop2" value="戻る" class="btn btn-default"/>
        <button type="submit" value="更新" class="btn btn-primary">更新</button>
    </form>
</body>
</html>